*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* header section */
.headermain{
    height: 850px;
    width: 100vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
}


/* divheader */
.divheader{
    width: 680px;
    height: 400px;
    
    margin: 200px 0px 150px 240px;
    
}
/* headerh1 */
.headerh1{
    color: #272727;
    font-family: 'Lato';
    font-size: 50px;
    width: 600PX;
    font-weight: 800;

}
/* headerp */
.headerp{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* headerimgdiv */
.headerimgdiv{
    width: 635px;
    height: 800px;
    
    margin: 50px 240px 0px 100px;
    
   
}
.headerimg{
    height: 100%;
    
}
/* headerbutton */

.headerbutton{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}
/* section2 */
.sectiondiv2{
    margin: 100px 600px 40px 600px;
}
.sectiondiv2h2{
    font-family: 'Lato';
    font-size: 30px;
    width: 380px;
    font-weight: 800;
    text-align: center;
    
   
}
.sectiondivp1{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* main img  */
.maindiv{
    display: flex;
    gap: 24px;
    width: 100vw;
    height: 600px;
    border: 5px solid
     red;
     /* margin: 40px 740px 40px 240px; */
}
.maindiv1{
    width: 464px;
    height: 538px;
    position: relative;
    border-radius: 300px 300px 0px 0px;
    background-color:rgba(167, 33, 98, 0.15) ;
}
.mainimg{
position: absolute;
bottom: 0px;
padding: 10px 10px 0px 55px;

}
.mainh5{
    position: absolute;
}